# Descargas de diferentes fuentes de la web

In [1]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

## Primera petición

Usando la función get de la librería *request*

In [2]:
url = "https://pbs.twimg.com/profile_images/616689518968762368/rkhjKqNb.jpg"
image = requests.get(url)

In [3]:
image

In [17]:
with open("mutenrroy.jpg", 'wb') as f:
    f.write(image.content)

## Bajar datos de inflación mediante url

Podemos descargar directamente desde una URL, un fichero .csv

Esto no es una petición

In [8]:
df_inflation = pd.read_csv('https://datahub.io/core/inflation/r/inflation-gdp.csv')
df_inflation.head()

      Country Country Code  Year  Inflation
0  Arab World          ARB  1969   1.303790
1  Arab World          ARB  1970   2.602241
2  Arab World          ARB  1971   6.884719
3  Arab World          ARB  1972   2.496081
4  Arab World          ARB  1973  11.555281

In [ ]:
df_inflation[df_inflation['Country'] == "Spain"]

## Bajar datos de Bicimad

Podemos usar la librería request para descargar un fichero con datos

In [9]:
url = 'https://opendata.emtmadrid.es/getattachment/c3383795-121b-4ebf-98b4-c7b05e902eaf/202106_movements.aspx'

r = requests.get(url)

In [10]:
r

In [11]:
# Guardamos el zip
filename = 'data/bicis.zip'
with open(filename, 'wb') as f:
   f.write(r.content)

In [10]:
# Extraemos lo que hay dentro
filename = 'data/bicis.zip'
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall("data/")

In [13]:
# Leemos los datos
datos_bicis = pd.read_json('data/202106_movements.json', lines=True, encoding='latin-1', nrows=10000)

In [15]:
# Vemos qué pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code
0,{'$oid': '60bbf3f21b91311d90d568ad'},b67ea824acf706087d5818ebc6f90821a5abaab17a0868...,15,1,13,319,38,0,54,2021-06-01T00:00:00Z,
1,{'$oid': '60bbf3f21b91311d90d568b2'},364b1b99f1f9a1748f7abf1134c8d6a46197b583649308...,7,1,1,386,185,0,126,2021-06-01T00:00:00Z,
2,{'$oid': '60bbf3f21b91311d90d568b3'},5cc17031cba02835dda4b6c153b56572beaade54d8ab91...,14,1,10,465,15,0,91,2021-06-01T00:00:00Z,
3,{'$oid': '60bbf3f21b91311d90d568b4'},6e855acaaa17d6d14236598c0f1172c783e16950e39c01...,8,1,22,613,84,0,236,2021-06-01T00:00:00Z,
4,{'$oid': '60bbf3f21b91311d90d568b5'},e93417502d55208995a61f4177956ab9289aba39044ce3...,1,1,4,751,131,5,94,2021-06-01T00:00:00Z,28006

In [16]:
datos_bicis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               10000 non-null  object
 1   user_day_code     10000 non-null  object
 2   idplug_base       10000 non-null  int64
 3   user_type         10000 non-null  int64
 4   idunplug_base     10000 non-null  int64
 5   travel_time       10000 non-null  int64
 6   idunplug_station  10000 non-null  int64
 7   ageRange          10000 non-null  int64
 8   idplug_station    10000 non-null  int64
 9   unplug_hourTime   10000 non-null  object
 10  zip_code          10000 non-null  object
dtypes: int64(7), object(4)
memory usage: 859.5+ KB

In [17]:
datos_bicis['zip_code'].unique()

array(['', '28006', '28004', '28045', '28028', '28009', '28007', '28005',
       '28010', '28034', '28012', '28001', '28008', '28015', '28002',
       '28105', 'CODIGO_POSTAL_NOT_DEF', '28013', '39724', '28100',
       '28800', '28027', '28020', '28011', '28014', '28850', '15002',
       '28003', '45007', '28046', '28039', '28043', '28038', '28934',
       '28016', '28945', '28221', '28033', '28030', '28029', '28048',
       '28054', '28035', '35572', '28049', '28004 ', '28019', '28040',
       '28941', '28523', '28380', '28933', '28026', '45600', '28938',
       '28220', '28935', '28760', '28863', '28018', '28250', '28053',
       '28017', '28024', '28823', '28021', '28922', '28210', '28022',
       '28036', '28047', '28430', '28041', '46009', '28770', '28031',
       '28200', '46026', '20540', '28232', '28042', '28071', '18006',
       '28400', '62973', '2', '28521', '28822', '28411', '28229', '48520',
       '29039', '28260', '28055', '28942', '28815', '28037', '28702',
       '28707', '28701', '28290', '28691', '28460', '28936', '28915',
       '28025', '28750', '28905', '28223', '75014', '28891', '28903',
       '23009', '28023', '28660', '28006 ', '28924', '28911', '28032',
       '28801', '10318', '28803', '29740', '28051', '28342', '28912',
       '28064', '28299', '33206', '28791', '28028 ', '09006', '28917',
       '19160', '28923', '28350', '29045', '23012', '28670', '28044',
       '28909', '28450', '28906', '28231'], dtype=object)

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores catálogos de información pública descargable en España

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio datos.gob.es</h3>

Descarga con pandas un dataset de la página https://datos.gob.es/es/catalogo acerca del empleo y guárdalo en un csv en la carpeta data.
         
 </td></tr>
</table>

In [19]:
url = "https://dadesobertes.gva.es/dataset/e9b02404-1755-4965-8f5b-917b43dc0368/resource/8a61dfcf-fb24-46e7-9b62-30ad193ec77c/download/contratos_por_municipio-sector-grupo_ocupacion-genero-edad-2018.csv"
datos_empleo = pd.read_csv(url, sep=";")

In [20]:
datos_empleo.head()

,ANYO,MES,COD_PROV,NOM_PROV,COD_MUN,NOM_MUN,COD_SECTOR,DESC_SECTOR,COD_GRUPO,DESC_GRUPO,COD_GENERO,DESC_GENERO,RANGO_EDAD,NUM_CONTRATOS
0,2018,1,46,VALENCIA,22,ALFAFAR,S,Servicios,5,"Trabajadores de los servicios de restauración,...",M,Mujer,25-44,2
1,2018,1,46,VALENCIA,163,MASSALFASSAR,C,Construccion,4,"Empleados contables, administrativos y otros e...",M,Mujer,>44,1
2,2018,1,46,VALENCIA,186,PAIPORTA,I,Industria,9,Ocupaciones elementales,H,Hombre,25-44,1
3,2018,1,46,VALENCIA,15,ALCASSER,S,Servicios,3,"Técnicos, profesionales de apoyo",M,Mujer,25-44,1
4,2018,1,46,VALENCIA,250,VALENCIA,S,Servicios,1,Directores y gerentes,M,Mujer,25-44,1

In [21]:
datos_empleo.to_csv('data/datos_empleo_vlc_2018.csv')

# OpenStreetMap

Vamos a usar una API para obtener información.

Es muy importante mirarse la documentación de cada API que se vaya a usar para saber cuales son los inputs que necesita.

In [13]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity

overpass_url = "http://overpass-api.de/api/interpreter"

overpass_query = """
[out:json];
node["amenity"="cafe"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [17]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.60 f4c14d41',
 'osm3s': {'timestamp_osm_base': '2023-05-11T10:18:39Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 2977298934,
   'lat': 40.4210523,
   'lon': -3.689841,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:street': 'Calle de Villalar',
    'amenity': 'cafe',
    'cuisine': 'regional',
    'internet_access': 'yes',
    'name': 'Café Villalar',
    'payment:bitcoin': 'yes',
    'phone': '+34 914358937',
    'website': 'https://cafeteriavillalar.eatbu.com/'}},
  {'type': 'node',
   'id': 3426617375,
   'lat': 40.4221948,
   'lon': -3.6923421,
   'tags': {'amenity': 'cafe',
    'name': 'Gran Café Gijón',
    'phone': '+34 915 215 425',
    'website': 'https://cafegijon.com/',
    'wikidata': 'Q1025608',
    'wikipedia': 'es:Café Gijón'}},
  {'type': 'node',
   'id': 4703448419,
   'lat': 40.4229908,
   'lon': -3.6936524,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '6',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Marqués de Monasterio',
    'amenity': 'cafe',
    'contact:facebook': 'https://www.facebook.com/hermanasae',
    'contact:instagram': 'https://www.instagram.com/hermanasarce/',
    'cuisine': 'cake',
    'disused:amenity': 'restaurant',
    'name': 'Hermanas Arce',
    'old_name': 'Noteolvides',
    'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
  {'type': 'node',
   'id': 4778747544,
   'lat': 40.4223247,
   'lon': -3.6909735,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '1',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'cafe',
    'brand': 'Santagloria',
    'brand:wikidata': 'Q54606497',
    'contact:phone': '+34 914319000',
    'contact:website': 'https://www.santagloria.com',
    'name': 'Santagloria',
    'shop': 'bakery'}},
  {'type': 'node',
   'id': 9207850217,
   'lat': 40.4218751,
   'lon': -3.6901227,
   'tags': {'amenity': 'cafe', 'name': 'masticar'}}]}

In [26]:
data.keys()

dict_keys(['version', 'generator', 'osm3s', 'elements'])

In [19]:
data.get('osm3s')                           # Esto es lo mismo que data['osm3s'], solo que usas la función get

{'timestamp_osm_base': '2023-05-11T10:18:39Z',
 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}

Podemos movernos aquí siguiendo para ver la información de cada key

In [28]:
data['osm3s']['copyright']

'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'

In [32]:
data['elements'][0]['tags']['name']

'Café Villalar'

In [14]:
for element in data['elements']:
    print(element)

{'type': 'node', 'id': 2977298934, 'lat': 40.4210523, 'lon': -3.689841, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '4', 'addr:street': 'Calle de Villalar', 'amenity': 'cafe', 'cuisine': 'regional', 'internet_access': 'yes', 'name': 'Café Villalar', 'payment:bitcoin': 'yes', 'website': 'http://www.cafevillalar.com/'}}
{'type': 'node', 'id': 3426617375, 'lat': 40.4221948, 'lon': -3.6923421, 'tags': {'amenity': 'cafe', 'name': 'Gran Café Gijón', 'phone': '+34 915 215 425', 'website': 'https://cafegijon.com/', 'wikidata': 'Q1025608', 'wikipedia': 'es:Café Gijón'}}
{'type': 'node', 'id': 4703448419, 'lat': 40.4229908, 'lon': -3.6936524, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '6', 'addr:postcode': '28004', 'addr:street': 'Calle del Marqués de Monasterio', 'amenity': 'cafe', 'contact:facebook': 'https://www.facebook.com/hermanasae', 'contact:instagram': 'https://www.instagram.com/hermanasarce/', 'cuisine': 'cake', 'disused:amenity': 'restaurant', 'name': 'Hermanas Arce', 'old_name': 'Noteolvides', 'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}}
{'type': 'node', 'id': 9207850217, 'lat': 40.4218751, 'lon': -3.6901227, 'tags': {'amenity': 'cafe', 'name': 'masticar'}}

In [35]:
data['elements']

[{'type': 'node',
  'id': 2977298934,
  'lat': 40.4210523,
  'lon': -3.689841,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '4',
   'addr:street': 'Calle de Villalar',
   'amenity': 'cafe',
   'cuisine': 'regional',
   'internet_access': 'yes',
   'name': 'Café Villalar',
   'payment:bitcoin': 'yes',
   'website': 'http://www.cafevillalar.com/'}},
 {'type': 'node',
  'id': 3426617375,
  'lat': 40.4221948,
  'lon': -3.6923421,
  'tags': {'amenity': 'cafe',
   'name': 'Gran Café Gijón',
   'phone': '+34 915 215 425',
   'website': 'https://cafegijon.com/',
   'wikidata': 'Q1025608',
   'wikipedia': 'es:Café Gijón'}},
 {'type': 'node',
  'id': 4703448419,
  'lat': 40.4229908,
  'lon': -3.6936524,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '6',
   'addr:postcode': '28004',
   'addr:street': 'Calle del Marqués de Monasterio',
   'amenity': 'cafe',
   'contact:facebook': 'https://www.facebook.com/hermanasae',
   'contact:instagram': 'https://www.instagram.com/hermanasarce/',
   'cuisine': 'cake',
   'disused:amenity': 'restaurant',
   'name': 'Hermanas Arce',
   'old_name': 'Noteolvides',
   'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
 {'type': 'node',
  'id': 9207850217,
  'lat': 40.4218751,
  'lon': -3.6901227,
  'tags': {'amenity': 'cafe', 'name': 'masticar'}}]

In [22]:
pd.DataFrame(data['elements'])

,type,id,lat,lon,tags
0,node,2977298934,40.421052,-3.689841,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
1,node,3426617375,40.422195,-3.692342,"{'amenity': 'cafe', 'name': 'Gran Café Gijón',..."
2,node,4703448419,40.422991,-3.693652,"{'addr:city': 'Madrid', 'addr:housenumber': '6..."
3,node,4778747544,40.422325,-3.690974,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
4,node,9207850217,40.421875,-3.690123,"{'amenity': 'cafe', 'name': 'masticar'}"

In [43]:
def json_to_dataframe(data_entrada):
    elements = data_entrada['elements']
    places = {'lat': [], 'lon': [], 'name': [], 'address': []}

    for i in elements:
        lalitude = i['lat']
        longitude = i['lon']
        name = i['tags'].get('name')
        street = i['tags'].get('addr:street', 'Sin calle')
        number = i['tags'].get('addr:housenumber', 0)
        
        places['lat'].append(lalitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(str(street) + ' ' + str(number))

    df = pd.DataFrame(places)
    return df

In [41]:
data['elements'][1]['tags']

{'amenity': 'cafe',
 'name': 'Gran Café Gijón',
 'phone': '+34 915 215 425',
 'website': 'https://cafegijon.com/',
 'wikidata': 'Q1025608',
 'wikipedia': 'es:Café Gijón'}

In [44]:
df_return = json_to_dataframe(data)
df_return.head()

         lat       lon             name                            address
0  40.421052 -3.689841    Café Villalar                Calle de Villalar 4
1  40.422195 -3.692342  Gran Café Gijón                        Sin calle 0
2  40.422991 -3.693652    Hermanas Arce  Calle del Marqués de Monasterio 6
3  40.421875 -3.690123         masticar                        Sin calle 0

In [ ]:
# lista_responses = [data1, data2, data3, data4]
# for data in lista_responses:
#     df_return = json_to_dataframe(data)
#     df_results = df_results.concat(df_return)

## Datos del espacio

Otro ejemplo, enlanzando paths para generar URLs y definiendo las queries.

In [23]:
'''
https://thespacedevs.com/llapi
https://ll.thespacedevs.com/2.2.0/swagger
'''
space_url = "http://ll.thespacedevs.com/2.2.0"

path = "/astronaut"

url_total = space_url + path

response = requests.get(url_total)

In [26]:
print(response.status_code)
type(response.content)
response.json()

200

{'count': 732,
 'next': 'https://ll.thespacedevs.com/2.2.0/astronaut/?limit=10&offset=10',
 'previous': None,
 'results': [{'id': 1,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/1/',
   'name': 'Thomas Pesquet',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P396DT11H33M45S',
   'eva_time': 'P1DT15H54M',
   'age': 45,
   'date_of_birth': '1978-02-27',
   'date_of_death': None,
   'nationality': 'French',
   'bio': 'Thomas Gautier Pesquet is a French aerospace engineer, pilot, and European Space Agency astronaut. Pesquet was selected by ESA as a candidate in May 2009, and he successfully completed his basic training in November 2010. From November 2016 to June 2017, Pesquet was part of Expeditions 50 and 51 on the International Space Station as a flight engineer.',
   'twitter': 'https://twitter.com/Thom_astro',
   'instagram': 'https://instagram.com/thom_astro',
   'wiki': 'https://en.wikipedia.org/wiki/Thomas_Pesquet',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas2520pesquet_image_20200102120546.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas_pesquet_thumbnail_20220911033657.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'spacewalks_count': 6,
   'last_flight': '2021-04-23T09:49:02Z',
   'first_flight': '2016-11-17T20:20:13Z'},
  {'id': 2,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/2/',
   'name': 'Claude Nicollier',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P42DT12H3M12S',
   'eva_time': 'PT8H10M',
   'age': 78,
   'date_of_birth': '1944-09-02',
   'date_of_death': None,
   'nationality': 'Swiss',
   'bio': 'Claude Nicollier is the first astronaut from Switzerland. He has flown on four Space Shuttle missions. His first spaceflight (STS-46) was in 1992, and his final spaceflight (STS-103) was in 1999. He took part in two servicing missions to the Hubble Space Telescope (called STS-61 and STS-103). During his final spaceflight he participated in a spacewalk, becoming the first European Space Agency astronaut to do so during a Space Shuttle mission. In 2000 he was assigned to the Astronaut Office Extravehicular Activity Branch, while maintaining a position as Lead ESA Astronaut in Houston. Nicollier retired from ESA in April 2007.',
   'twitter': 'https://twitter.com/Astroclaude',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Claude_Nicollier',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude2520nicollier_image_20181127203218.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude_nicollie_thumbnail_20220911033747.jpeg',
   'flights_count': 4,
   'landings_count': 4,
   'spacewalks_count': 1,
   'last_flight': '1999-12-20T00:50:00Z',
   'first_flight': '1992-07-31T13:56:48Z'},
  {'id': 3,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/3/',
   'name': 'Tim Peake',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P185DT22H11M51S',
   'eva_time': 'PT4H43M',
   'age': 51,
   'date_of_birth': '1972-04-07',
   'date_of_death': None,
   'nationality': 'British',
   'bio': "Major Timothy Nigel Peake CMG is a British Army Air Corps officer, former European Space Agency astronaut and International Space Station (ISS) crew member.  He is the first British ESA astronaut, the second astronaut to bear a flag of the United Kingdom patch, the sixth person born in the United Kingdom to go on board the International Space Station and the seventh UK-born person in space. He began the ESA's intensive astronaut basic training course in September 2009 and graduated on 22 November 2010",
   'twitter': 'https://twitter.com/astro_timpeake',
   'instagram': 'https://www.instagram.com/astro_timpeake/',
   'wiki': 'https://en.wikipedia.org/wiki/Tim_Peake',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_image_20230120154350.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_thumbnail_20230120154351.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'spacewalks_count': 1,
   'last_flight': '2015-12-15T11:03:09Z',
   'first_flight': '2015-12-15T11:03:09Z'},
  {'id': 4,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/4/',
   'name': 'Buzz Aldrin',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P12DT1H52M27S',
   'eva_time': 'PT8H1M40S',
   'age': 93,
   'date_of_birth': '1930-01-20',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Buzz Aldrin; born Edwin Eugene Aldrin Jr.; is an American engineer, former astronaut, and fighter pilot.\r\nAs Lunar Module Pilot on the Apollo 11 mission, he and mission commander Neil Armstrong were the first two humans to land on the Moon.',
   'twitter': 'https://twitter.com/TheRealBuzz',
   'instagram': 'https://www.instagram.com/drbuzzaldrin/',
   'wiki': 'https://en.wikipedia.org/wiki/Buzz_Aldrin',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_image_20220911034547.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_thumbnail_20220911034547.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'spacewalks_count': 4,
   'last_flight': '1969-07-16T13:32:00Z',
   'first_flight': '1966-11-11T20:46:33Z'},
  {'id': 5,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/5/',
   'name': 'Chris Hadfield',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P165DT16H19M',
   'eva_time': 'PT14H50M',
   'age': 63,
   'date_of_birth': '1959-08-29',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Chris Austin Hadfield is a Canadian retired astronaut, engineer, and former Royal Canadian Air Force fighter pilot.\r\nThe first Canadian to walk in space, Hadfield has flown two space shuttle missions and served as commander of the International Space Station.',
   'twitter': 'https://twitter.com/Cmdr_Hadfield',
   'instagram': 'https://www.instagram.com/colchrishadfield/',
   'wiki': 'https://en.wikipedia.org/wiki/Chris_Hadfield',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_image_20220911034200.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_thumbnail_20220911034200.jpeg',
   'flights_count': 3,
   'landings_count': 3,
   'spacewalks_count': 2,
   'last_flight': '2012-12-19T12:12:35Z',
   'first_flight': '1995-11-12T12:30:43Z'},
  {'id': 6,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/6/',
   'name': 'David Saint-Jacques',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P203DT12H28M8S',
   'eva_time': 'PT6H29M',
   'age': 53,
   'date_of_birth': '1970-01-06',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'David Saint-Jacques is a Canadian astronaut with the Canadian Space Agency (CSA).\r\nHe was also an engineer, an astrophysicist, and a physician prior to joining the CSA.\r\nHe was selected to join the CSA in the 2009 CSA selection along with Jeremy Hansen.',
   'twitter': 'https://twitter.com/Astro_DavidS',
   'instagram': 'https://www.instagram.com/astrodavids/',
   'wiki': 'https://en.wikipedia.org/wiki/David_Saint-Jacques',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_image_20220911034207.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_thumbnail_20220911034208.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'spacewalks_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 7,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/7/',
   'name': 'Anne McClain',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P203DT12H28M8S',
   'eva_time': 'PT13H8M',
   'age': 43,
   'date_of_birth': '1979-06-07',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Anne Charlotte McClain is a lieutenant colonel in the U.S. Army currently assigned to NASA Astronaut Group 21.',
   'twitter': 'https://twitter.com/AstroAnnimal',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Anne_McClain',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne2520mcclain_image_20181127210625.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne_mcclain_thumbnail_20220911034153.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'spacewalks_count': 2,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 8,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/8/',
   'name': 'Andrew R. Morgan',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'in_space': False,
   'time_in_space': 'P271DT12H48M22S',
   'eva_time': 'P1DT21H48M',
   'age': 47,
   'date_of_birth': '1976-02-05',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Andrew Richard "Drew" Morgan is a NASA astronaut from the class of 2013.',
   'twitter': 'https://twitter.com/AstroDrewMorgan',
   'instagram': 'https://www.instagram.com/astrodrewmorgan/',
   'wiki': 'https://en.wikipedia.org/wiki/Andrew_R._Morgan',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_image_20220911034204.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_thumbnail_20220911034204.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'spacewalks_count': 7,
   'last_flight': '2019-07-20T16:28:21Z',
   'first_flight': '2019-07-20T16:28:21Z'},

In [48]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut'

In [49]:
url_total = space_url + path + "/?nationality=Spanish"

response = requests.get(url_total)

In [50]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut/?nationality=Spanish'

In [51]:
response.json()

{'count': 1,
 'next': None,
 'previous': None,
 'results': [{'id': 95,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/95/',
   'name': 'Pedro Duque',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1963-03-14',
   'date_of_death': None,
   'nationality': 'Spanish',
   'bio': "Pedro Francisco Duque Duque, OF, OMSE (Madrid, 14 March 1963) is a Spanish astronaut and aeronautics engineer, currently serving as Spain's Minister of Science, Innovation and Universities. He was the first Spanish astronaut.\r\n\r\nDuque underwent training in both Russia and the United States. His first spaceflight was as a mission specialist aboard space shuttle mission STS-95, during which Duque supervised ESA experimental modules. In October 2003, Duque visited the International Space Station on board of a Soyuz TMA Ship for several days during a crew changeover. The scientific program of this visit was called by ESA/Spain Misión Cervantes.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Pedro_Duque',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Johann-Dietrich Wörner',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/pedro2520duque_image_20181128225634.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/a2/c9/a2c9c37ff19aba5120410597b93ad68b.jpg',
   'last_flight': '2003-10-18T05:38:03Z',
   'first_flight': '1998-10-29T19:19:34Z'}]}